<div class="content-main">
  <div class="content-header">
    <label>{{_ "Locale"}}</label>
    <h1>{{_ "Profile"}}</h1>
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <a href="#" {{action "updateUser" target="controller"}} class="btn btn-success">{{_ "Update" "Updates" 2}}</a>
      </div>
    </div>
  </div>
</div>
