---
name: testing

"on":
  pull_request:
  push:
    branches:
      - master

jobs:
  rubocop:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4

      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler: 2.4.22
          bundler-cache: true

      - name: Run rubocop
        run: bundle exec rubocop

  spec:
    runs-on: ubuntu-latest
    needs: rubocop

    strategy:
      fail-fast: false

      matrix:
        ruby:
          - 2.7
          - 3.0
          - 3.1
          - 3.2
        rails:
          - 6.1
          - 7.0
          - 7.1
    steps:
      - name: Checkout source
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4

      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: 2.4.22
          bundler-cache: true
        env:
          RAILS_VERSION: ${{ matrix.rails }}

      - name: Run rspec
        run: bundle exec rspec

...
